{
    "openapi": "3.1.0",
    "info": {
        "title": "Therius API",
        "description": "REST API for payments, subscriptions, and billing plans.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.therius.io/v1",
            "description": "Production"
        },
        {
            "url": "https://api-sandbox.therius.io/v1",
            "description": "Sandbox"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Your secret API key: `Bearer sk_live_xxx` (production) or `Bearer sk_sandbox_xxx` (sandbox)."
            }
        },
        "parameters": {
            "IdempotencyKey": {
                "name": "Idempotency-Key",
                "in": "header",
                "description": "A UUID you generate per operation. Required in production. Retrying with the same key returns the original response.",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                }
            },
            "PaymentId": {
                "name": "id",
                "in": "path",
                "required": true,
                "description": "The Therius payment `id` returned by `POST /payment/authorization` or `POST /payment/purchase`.",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "schemas": {
            "Amount": {
                "type": "object",
                "required": [
                    "currency",
                    "value",
                    "exponent"
                ],
                "properties": {
                    "currency": {
                        "type": "string",
                        "example": "USD"
                    },
                    "value": {
                        "type": "integer",
                        "example": 4999
                    },
                    "exponent": {
                        "type": "integer",
                        "example": 2
                    }
                }
            },
            "CardAddress": {
                "type": "object",
                "properties": {
                    "line1": {
                        "type": "string"
                    },
                    "line2": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    }
                }
            },
            "CardData": {
                "type": "object",
                "properties": {
                    "cardNumber": {
                        "type": "string",
                        "example": "4111111111111111"
                    },
                    "cardholderName": {
                        "type": "string",
                        "example": "Ada Lovelace"
                    },
                    "expiryMonth": {
                        "type": "string",
                        "example": "12"
                    },
                    "expiryYear": {
                        "type": "string",
                        "example": "2030"
                    },
                    "cvv": {
                        "type": "string",
                        "example": "123"
                    },
                    "tokenize": {
                        "type": "boolean"
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    },
                    "documentNumber": {
                        "type": "string"
                    },
                    "typeOverride": {
                        "type": "string"
                    }
                }
            },
            "NonceData": {
                "type": "object",
                "properties": {
                    "nonce": {
                        "type": "string"
                    },
                    "cardholderName": {
                        "type": "string"
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    },
                    "tokenize": {
                        "type": "boolean"
                    },
                    "typeOverride": {
                        "type": "string"
                    }
                }
            },
            "TokenData": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "cvv": {
                        "type": "string"
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    }
                }
            },
            "CardInstrument": {
                "description": "The payment instrument. Provide exactly ONE of `cardData`, `nonceData`, or `tokenData` — they are interchangeable alternatives, not fields to send together. `cardData` carries a raw PAN and requires your server to be PCI DSS compliant; `nonceData` is a single-use nonce from the Therius JS SDK; `tokenData` reuses a stored `vt_...` vault token.",
                "oneOf": [
                    {
                        "title": "Raw card (PCI DSS)",
                        "type": "object",
                        "required": [
                            "cardData"
                        ],
                        "properties": {
                            "cardData": {
                                "$ref": "#/components/schemas/CardData"
                            }
                        }
                    },
                    {
                        "title": "SDK nonce",
                        "type": "object",
                        "required": [
                            "nonceData"
                        ],
                        "properties": {
                            "nonceData": {
                                "$ref": "#/components/schemas/NonceData"
                            }
                        }
                    },
                    {
                        "title": "Vault token",
                        "type": "object",
                        "required": [
                            "tokenData"
                        ],
                        "properties": {
                            "tokenData": {
                                "$ref": "#/components/schemas/TokenData"
                            }
                        }
                    }
                ]
            },
            "CardOnFile": {
                "type": "object",
                "description": "Stored-credential (MIT/CIT) framework metadata for one-off payments. Optional — Therius derives it from context when omitted. Not accepted on subscription endpoints.",
                "properties": {
                    "usage": {
                        "type": "string",
                        "enum": [
                            "first",
                            "subsequent"
                        ]
                    },
                    "initiatedBy": {
                        "type": "string",
                        "enum": [
                            "cardholder",
                            "merchant"
                        ]
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "recurring",
                            "installment",
                            "unscheduled"
                        ]
                    },
                    "exceptionReason": {
                        "type": "string",
                        "enum": [
                            "resubmission",
                            "incremental",
                            "reauthorization",
                            "delayed_charge",
                            "no_show"
                        ]
                    }
                }
            },
            "Card": {
                "description": "Card input for one-off payments: exactly one instrument (`cardData` / `nonceData` / `tokenData`) plus optional stored-credential and installment modifiers.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "cardOnFile": {
                                "$ref": "#/components/schemas/CardOnFile"
                            },
                            "instalments": {
                                "type": "integer",
                                "description": "Number of issuer installments (LATAM markets). Defaults to 1."
                            },
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Scheme mandate reference from the original CIT. Cite it on merchant-initiated stored-credential charges."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Mastercard TLID (or scheme equivalent) from the original CIT, sent alongside `networkTransactionId`."
                            }
                        }
                    }
                ]
            },
            "SubscriptionCard": {
                "description": "Card input for creating a subscription. Enrolling a customer is a CIT and a CIT may require 3D Secure — pick the mode that fits:\n\n• **CIT mode** (`nonceData` / `cardData`): Therius runs the initial CIT + first charge here. The customer must be present. This CIT cannot carry out a 3D Secure challenge, so a 3DS-required card will fail — use record mode for those.\n\n• **Record mode** (`tokenData`): the token is a card that already completed a CIT — including any 3DS — through `/payment/authorization` or `/payment/purchase` (with `card.<x>.tokenize: true` + `shopper.id`). No second CIT runs. The mandate is read from the token; pass `networkTransactionId` / `networkReferenceId` explicitly only for a card CIT'd outside Therius. For cycle 1: with a trial or deferred start nothing is charged; with `firstPaymentId` set Therius marks the first invoice paid and links that payment; otherwise Therius charges cycle 1 as an MIT against the recorded mandate.\n\nProvide exactly ONE of `cardData`, `nonceData`, or `tokenData`. `cardOnFile` and `instalments` are not accepted — Therius owns the mandate.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Record mode only. The Network Transaction ID from the original CIT. Optional when the token already carries its mandate; required when recording a card CIT'd outside Therius."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Record mode only. The Mastercard TLID (or scheme equivalent) from the original CIT, alongside `networkTransactionId`. Defaults to `networkTransactionId` when omitted."
                            }
                        }
                    }
                ]
            },
            "SubscriptionCardUpdate": {
                "description": "Card input for replacing the card on a subscription. Changing the card is always a CIT and a CIT may require 3D Secure — pick the mode that fits:\n\n• **Record mode** (`tokenData`): the token is a card that already completed a CIT elsewhere. Run your own 3DS-capable CIT via `/payment/authorization` or `/payment/purchase` (with `card.<x>.tokenize: true` + `shopper.id`), then attach the resulting `vt_...` token here. No gateway call, no 3DS. The mandate is read from the token; pass `networkTransactionId` / `networkReferenceId` explicitly only for a card CIT'd outside Therius. Cannot reactivate a `suspended` subscription.\n\n• **CIT mode** (`nonceData` / `cardData`): runs a zero-value CIT here and can reactivate a `suspended` subscription — but this CIT cannot carry out a 3D Secure challenge, so a card that requires 3DS will fail. Use record mode for those.\n\nProvide exactly ONE of `cardData`, `nonceData`, or `tokenData`.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Record mode only. The scheme mandate reference (Network Transaction ID) returned by the original CIT. Optional when the token already carries its mandate; required when recording a card that was CIT'd outside Therius."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Record mode only. The Mastercard TLID (or scheme equivalent) from the original CIT, alongside `networkTransactionId`. Defaults to `networkTransactionId` when omitted."
                            }
                        }
                    }
                ]
            },
            "Shopper": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "ActionRequired": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "paymentCode": {
                        "type": "string"
                    },
                    "barcode": {
                        "type": "string"
                    },
                    "params": {
                        "type": "object"
                    }
                }
            },
            "RefusalCode": {
                "type": "object",
                "description": "Present when `status` is `declined`. See the Declined Payments concept page for the full code table and how to react to each `recoveryAction`.",
                "properties": {
                    "reason": {
                        "type": "string",
                        "description": "Human-readable meaning of `reasonCode`.",
                        "example": "Insufficient funds"
                    },
                    "reasonCode": {
                        "type": "string",
                        "description": "Normalized ISO 8583 decline code. Every provider decline is mapped to this set, so handling logic is provider-independent. Full table with meanings on the Declined Payments concept page.",
                        "example": "51",
                        "enum": [
                            "1", "2", "3", "4", "5", "6", "7", "8", "9", "11",
                            "12", "13", "14", "15", "16", "17", "19", "20", "21", "22",
                            "25", "28", "30", "41", "43", "46", "51", "52", "53", "54",
                            "55", "57", "58", "59", "61", "62", "63", "65", "68", "75",
                            "76", "77", "78", "80", "81", "82", "83", "85", "91", "92",
                            "93", "94", "95", "96", "B1", "N0", "N3", "N4", "N7", "P2",
                            "P5", "P6", "Q1", "R0", "R1", "R3", "XA", "XD", "Z3"
                        ]
                    },
                    "originalReason": {
                        "type": "string",
                        "description": "Raw message the underlying provider returned, before normalization. Diagnostic only — format is not stable across providers."
                    },
                    "originalReasonCode": {
                        "type": "string",
                        "description": "Raw code the underlying provider returned, before normalization. Diagnostic only — format varies by provider."
                    },
                    "recoveryAction": {
                        "type": "string",
                        "description": "What the checkout should do next: `retry` (transient/technical — same card may be retried once), `switch_method` (this card will not work — prompt for another method), `terminal` (hard block — do not retry or offer an alternative).",
                        "enum": [
                            "retry",
                            "switch_method",
                            "terminal"
                        ]
                    }
                }
            },
            "PaymentResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The Therius payment id. Returned by `POST /payment/authorization` and `POST /payment/purchase`; use it as the `{id}` path segment for capture, refund, cancel and cancel_or_refund.",
                        "example": "9f8b2c1e-4d5a-6b7c-8d9e-0f1a2b3c4d5e"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "captured",
                            "authorized",
                            "declined",
                            "pending_3ds",
                            "pending_action",
                            "failed",
                            "cancelled",
                            "refunded"
                        ]
                    },
                    "paymentCode": {
                        "type": "string",
                        "example": "PC-1234567890"
                    },
                    "orderCode": {
                        "type": "string"
                    },
                    "merchantCode": {
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "card": {
                        "type": "object"
                    },
                    "token": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "expirationDate": {
                                "type": "string"
                            }
                        }
                    },
                    "actionRequired": {
                        "$ref": "#/components/schemas/ActionRequired"
                    },
                    "refusalCode": {
                        "$ref": "#/components/schemas/RefusalCode"
                    }
                }
            },
            "Plan": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "interval": {
                        "type": "string",
                        "enum": [
                            "day",
                            "week",
                            "month",
                            "year"
                        ]
                    },
                    "intervalCount": {
                        "type": "integer"
                    },
                    "trialDays": {
                        "type": "integer"
                    },
                    "countries": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "subscriberCount": {
                        "type": "integer"
                    }
                }
            },
            "Subscription": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "planId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "trialing",
                            "past_due",
                            "paused",
                            "suspended",
                            "cancelled"
                        ]
                    },
                    "shopper": {
                        "$ref": "#/components/schemas/Shopper"
                    },
                    "card": {
                        "type": "object"
                    },
                    "currentPeriodStart": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "currentPeriodEnd": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Invoice": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "subscriptionId": {
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "paid",
                            "open",
                            "failed",
                            "void"
                        ]
                    },
                    "paymentCode": {
                        "type": "string"
                    },
                    "periodStart": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "periodEnd": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            }
        }
    },
    "paths": {
        "/payment/purchase": {
            "post": {
                "operationId": "purchasePayment",
                "summary": "Charge a card in one step",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "orderCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "orderCode": {
                                        "type": "string"
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/Card"
                                    },
                                    "apm": {
                                        "type": "object"
                                    },
                                    "paymentMethod": {
                                        "type": "string"
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "webhookUrl": {
                                        "type": "string"
                                    },
                                    "connectionCode": {
                                        "type": "string"
                                    },
                                    "ipAddress": {
                                        "type": "string"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/authorization": {
            "post": {
                "operationId": "authorizePayment",
                "summary": "Place a fund reserve",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "orderCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "orderCode": {
                                        "type": "string"
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/Card"
                                    },
                                    "apm": {
                                        "type": "object"
                                    },
                                    "paymentMethod": {
                                        "type": "string"
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "webhookUrl": {
                                        "type": "string"
                                    },
                                    "connectionCode": {
                                        "type": "string"
                                    },
                                    "ipAddress": {
                                        "type": "string"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authorization result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/capture": {
            "post": {
                "operationId": "capturePayment",
                "summary": "Settle a prior authorization",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this capture operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Capture result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/cancel": {
            "post": {
                "operationId": "cancelPayment",
                "summary": "Release an authorization hold",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this cancellation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cancellation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/refund": {
            "post": {
                "operationId": "refundPayment",
                "summary": "Issue a full or partial refund",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this refund operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Refund result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/cancel_or_refund": {
            "post": {
                "operationId": "cancelOrRefundPayment",
                "summary": "Reverse a payment",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reverse result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/resume": {
            "post": {
                "operationId": "resumePayment",
                "summary": "Continue after 3DS challenge",
                "tags": [
                    "Payments"
                ],
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "sessionId"
                                ],
                                "properties": {
                                    "sessionId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Resumed payment result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/inquiry/{id}": {
            "get": {
                "operationId": "inquiryPayment",
                "summary": "Retrieve payment status",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sdk/session": {
            "post": {
                "operationId": "createSdkSession",
                "summary": "Create a short-lived SDK token",
                "tags": [
                    "SDK"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SDK session token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "sessionToken": {
                                            "type": "string"
                                        },
                                        "expiresAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/token": {
            "post": {
                "operationId": "storeTokens",
                "summary": "Store card tokens for future payments",
                "tags": [
                    "Tokens"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "shopper",
                                    "cards"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "cards": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/CardData"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tokens created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "tokens": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "expirationDate": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/plan": {
            "post": {
                "operationId": "createPlan",
                "summary": "Create a subscription plan",
                "tags": [
                    "Plans"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "name",
                                    "amount",
                                    "interval"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "interval": {
                                        "type": "string",
                                        "enum": [
                                            "day",
                                            "week",
                                            "month",
                                            "year"
                                        ]
                                    },
                                    "intervalCount": {
                                        "type": "integer"
                                    },
                                    "trialDays": {
                                        "type": "integer"
                                    },
                                    "countries": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Plan created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "listPlans",
                "summary": "List all subscription plans",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of plans",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Plan"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/plan/{id}": {
            "patch": {
                "operationId": "updatePlan",
                "summary": "Update a subscription plan",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "active": {
                                        "type": "boolean"
                                    },
                                    "countries": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "archivePlan",
                "summary": "Archive a subscription plan",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Plan archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription": {
            "post": {
                "operationId": "createSubscription",
                "summary": "Create and activate a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "planId",
                                    "shopper",
                                    "card"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string"
                                    },
                                    "planId": {
                                        "type": "string"
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/SubscriptionCard"
                                    },
                                    "firstPaymentId": {
                                        "type": "string",
                                        "description": "Record mode only, and only when a first payment is due (ignored for trial / deferred subscriptions). The payment `id` returned by the /payment/authorization or /payment/purchase call in which you ran the CIT for this card. Therius validates that it is a captured/authorized payment on your account that charged the same vaulted token and is in the plan's currency, then marks cycle 1's invoice paid and links it — no gateway call. When omitted, Therius charges cycle 1 as an MIT against the recorded mandate."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subscription created. Record mode adds a `firstCycle` object describing how cycle 1 was handled (`linked` or `mit`).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "listSubscriptions",
                "summary": "List and filter subscriptions",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "planId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cardBrand",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Subscription"
                                            }
                                        },
                                        "nextCursor": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}": {
            "get": {
                "operationId": "getSubscription",
                "summary": "Retrieve subscription details",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/cancel": {
            "post": {
                "operationId": "cancelSubscription",
                "summary": "Cancel a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cancellation confirmed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/change-plan": {
            "post": {
                "operationId": "changeSubscriptionPlan",
                "summary": "Upgrade or downgrade a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "planId"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    },
                                    "planId": {
                                        "type": "string"
                                    },
                                    "prorate": {
                                        "type": "boolean"
                                    },
                                    "effective": {
                                        "type": "string",
                                        "enum": [
                                            "immediate",
                                            "next_cycle"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Plan changed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/pause": {
            "post": {
                "operationId": "pauseSubscription",
                "summary": "Pause a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription paused",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/resume": {
            "post": {
                "operationId": "resumeSubscription",
                "summary": "Resume a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription resumed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/payment-method": {
            "post": {
                "operationId": "updateSubscriptionPaymentMethod",
                "summary": "Update the card on a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "card"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/SubscriptionCardUpdate"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment method updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/invoice": {
            "get": {
                "operationId": "listSubscriptionInvoices",
                "summary": "List invoices for a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of invoices",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Invoice"
                                            }
                                        },
                                        "nextCursor": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/invoice/{id}": {
            "get": {
                "operationId": "getInvoice",
                "summary": "Retrieve a single invoice",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}