{
    "openapi": "3.1.0",
    "info": {
        "title": "Therius API",
        "description": "REST API for payments, subscriptions, and billing plans.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.therius.io/v1",
            "description": "Production"
        },
        {
            "url": "https://api-sandbox.therius.io/v1",
            "description": "Sandbox"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Your secret API key: `Bearer prv_production_xxx` (production) or `Bearer prv_sandbox_xxx` (sandbox)."
            }
        },
        "parameters": {
            "IdempotencyKey": {
                "name": "Idempotency-Key",
                "in": "header",
                "description": "A UUID you generate per operation. Required in production. Retrying with the same key returns the original response.",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                }
            },
            "PaymentId": {
                "name": "id",
                "in": "path",
                "required": true,
                "description": "The Therius payment `id` returned by `POST /payment/authorization` or `POST /payment/purchase`.",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "schemas": {
            "Amount": {
                "type": "object",
                "required": [
                    "currency",
                    "value",
                    "exponent"
                ],
                "properties": {
                    "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code. On capture, refund and cancel it must match the currency of the original payment.",
                        "example": "USD"
                    },
                    "value": {
                        "type": "integer",
                        "description": "Amount in minor units (cents, pence, etc.). `4999` = $49.99 for USD (exponent 2); `5000` = ¥5000 for JPY (exponent 0). On capture it must not exceed the authorized value; on refund the cumulative total across refunds must not exceed the captured amount.",
                        "example": 4999
                    },
                    "exponent": {
                        "type": "integer",
                        "description": "Number of decimal places for the currency — `2` for USD/EUR, `0` for JPY. Determines where the decimal point sits in `value`.",
                        "example": 2
                    }
                }
            },
            "CardAddress": {
                "type": "object",
                "properties": {
                    "line1": {
                        "type": "string"
                    },
                    "line2": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    }
                }
            },
            "CardData": {
                "type": "object",
                "description": "Raw card details. Only if your server is PCI DSS compliant to handle raw PANs — otherwise collect the card with the Therius JS SDK and send `nonceData`.",
                "properties": {
                    "cardNumber": {
                        "type": "string",
                        "description": "Full PAN, digits only.",
                        "example": "4111111111111111"
                    },
                    "cardholderName": {
                        "type": "string",
                        "description": "Name as it appears on the card.",
                        "example": "Ada Lovelace"
                    },
                    "expiryMonth": {
                        "type": "string",
                        "description": "Two-digit expiry month, e.g. `12`.",
                        "example": "12"
                    },
                    "expiryYear": {
                        "type": "string",
                        "description": "Four-digit expiry year, e.g. `2030`.",
                        "example": "2030"
                    },
                    "cvv": {
                        "type": "string",
                        "description": "Card verification value (3 or 4 digits).",
                        "example": "123"
                    },
                    "tokenize": {
                        "type": "boolean",
                        "description": "Set to `true` to save this card as a reusable token. Requires `shopper.id` in the request."
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    },
                    "documentNumber": {
                        "type": "string",
                        "description": "Cardholder tax/document ID, required by some LATAM acquirers."
                    },
                    "typeOverride": {
                        "type": "string",
                        "description": "Override the detected card type, e.g. `debit`."
                    }
                }
            },
            "NonceData": {
                "type": "object",
                "description": "Single-use nonce from the Therius JS SDK — no card data touches your server. Nonces are single-use and expire after a short window.",
                "properties": {
                    "nonce": {
                        "type": "string",
                        "description": "The nonce string returned by the SDK."
                    },
                    "cardholderName": {
                        "type": "string",
                        "description": "Cardholder name."
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    },
                    "tokenize": {
                        "type": "boolean",
                        "description": "Save the card as a token after payment. Requires `shopper.id` in the request."
                    },
                    "typeOverride": {
                        "type": "string",
                        "description": "Override the detected card type."
                    }
                }
            },
            "TokenData": {
                "type": "object",
                "description": "A `vt_...` vault token for a card the shopper previously tokenized.",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Token ID returned from a prior tokenization."
                    },
                    "cvv": {
                        "type": "string",
                        "description": "CVV, if re-collection is required by the acquirer."
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    }
                }
            },
            "CardInstrument": {
                "description": "The payment instrument. Provide exactly ONE of `cardData`, `nonceData`, or `tokenData` — they are interchangeable alternatives, not fields to send together. `cardData` carries a raw PAN and requires your server to be PCI DSS compliant; `nonceData` is a single-use nonce from the Therius JS SDK; `tokenData` reuses a stored `vt_...` vault token.",
                "oneOf": [
                    {
                        "title": "Raw card (PCI DSS)",
                        "type": "object",
                        "required": [
                            "cardData"
                        ],
                        "properties": {
                            "cardData": {
                                "$ref": "#/components/schemas/CardData"
                            }
                        }
                    },
                    {
                        "title": "SDK nonce",
                        "type": "object",
                        "required": [
                            "nonceData"
                        ],
                        "properties": {
                            "nonceData": {
                                "$ref": "#/components/schemas/NonceData"
                            }
                        }
                    },
                    {
                        "title": "Vault token",
                        "type": "object",
                        "required": [
                            "tokenData"
                        ],
                        "properties": {
                            "tokenData": {
                                "$ref": "#/components/schemas/TokenData"
                            }
                        }
                    }
                ]
            },
            "CardOnFile": {
                "type": "object",
                "description": "Stored-credential (MIT/CIT) framework metadata for one-off payments. Optional — Therius derives it from context when omitted. Not accepted on subscription endpoints.",
                "properties": {
                    "usage": {
                        "type": "string",
                        "enum": [
                            "first",
                            "subsequent"
                        ]
                    },
                    "initiatedBy": {
                        "type": "string",
                        "enum": [
                            "cardholder",
                            "merchant"
                        ]
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "recurring",
                            "installment",
                            "unscheduled"
                        ]
                    },
                    "exceptionReason": {
                        "type": "string",
                        "enum": [
                            "resubmission",
                            "incremental",
                            "reauthorization",
                            "delayed_charge",
                            "no_show"
                        ]
                    }
                }
            },
            "Card": {
                "description": "Card input for one-off payments: exactly one instrument (`cardData` / `nonceData` / `tokenData`) plus optional stored-credential and installment modifiers.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "cardOnFile": {
                                "$ref": "#/components/schemas/CardOnFile"
                            },
                            "instalments": {
                                "type": "integer",
                                "description": "Number of issuer installments (LATAM markets). Defaults to 1."
                            },
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Scheme mandate reference from the original CIT. Cite it on merchant-initiated stored-credential charges."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Mastercard TLID (or scheme equivalent) from the original CIT, sent alongside `networkTransactionId`."
                            }
                        }
                    }
                ]
            },
            "SubscriptionCard": {
                "description": "Card input for creating a subscription. Enrolling a customer is a CIT and a CIT may require 3D Secure — pick the mode that fits:\n\n• **CIT mode** (`nonceData` / `cardData`): Therius runs the initial CIT + first charge here. The customer must be present. This CIT cannot carry out a 3D Secure challenge, so a 3DS-required card will fail — use record mode for those.\n\n• **Record mode** (`tokenData`): the token is a card that already completed a CIT — including any 3DS — through `/payment/authorization` or `/payment/purchase` (with `card.<x>.tokenize: true` + `shopper.id`). No second CIT runs. The mandate is read from the token; pass `networkTransactionId` / `networkReferenceId` explicitly only for a card CIT'd outside Therius. For cycle 1: with a trial or deferred start nothing is charged; with `firstPaymentId` set Therius marks the first invoice paid and links that payment; otherwise Therius charges cycle 1 as an MIT against the recorded mandate.\n\nProvide exactly ONE of `cardData`, `nonceData`, or `tokenData`. `cardOnFile` and `instalments` are not accepted — Therius owns the mandate.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Record mode only. The Network Transaction ID from the original CIT. Optional when the token already carries its mandate; required when recording a card CIT'd outside Therius."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Record mode only. The Mastercard TLID (or scheme equivalent) from the original CIT, alongside `networkTransactionId`. Defaults to `networkTransactionId` when omitted."
                            }
                        }
                    }
                ]
            },
            "SubscriptionCardUpdate": {
                "description": "Card input for replacing the card on a subscription. Changing the card is always a CIT and a CIT may require 3D Secure — pick the mode that fits:\n\n• **Record mode** (`tokenData`): the token is a card that already completed a CIT elsewhere. Run your own 3DS-capable CIT via `/payment/authorization` or `/payment/purchase` (with `card.<x>.tokenize: true` + `shopper.id`), then attach the resulting `vt_...` token here. No gateway call, no 3DS. The mandate is read from the token; pass `networkTransactionId` / `networkReferenceId` explicitly only for a card CIT'd outside Therius. Cannot reactivate a `suspended` subscription.\n\n• **CIT mode** (`nonceData` / `cardData`): runs a zero-value CIT here and can reactivate a `suspended` subscription — but this CIT cannot carry out a 3D Secure challenge, so a card that requires 3DS will fail. Use record mode for those.\n\nProvide exactly ONE of `cardData`, `nonceData`, or `tokenData`.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Record mode only. The scheme mandate reference (Network Transaction ID) returned by the original CIT. Optional when the token already carries its mandate; required when recording a card that was CIT'd outside Therius."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Record mode only. The Mastercard TLID (or scheme equivalent) from the original CIT, alongside `networkTransactionId`. Defaults to `networkTransactionId` when omitted."
                            }
                        }
                    }
                ]
            },
            "Shopper": {
                "type": "object",
                "description": "Shopper information. Required when tokenizing a card (`card.<instrument>.tokenize: true`).",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Your internal shopper ID. Used to associate saved tokens with a customer."
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Shopper's email address."
                    },
                    "name": {
                        "type": "string",
                        "description": "Shopper's full name."
                    }
                }
            },
            "ActionRequired": {
                "type": "object",
                "description": "Present when `status` is `pending_3ds` or `pending_action`. Describes what the cardholder must do next — with the Therius JS SDK, pass the whole object to `sdk.handleAction()`.",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Action type, e.g. `redirect`, `barcode`."
                    },
                    "url": {
                        "type": "string",
                        "description": "URL to send the cardholder to for a 3DS challenge or external APM flow."
                    },
                    "paymentCode": {
                        "type": "string",
                        "description": "Therius payment code tied to this pending action."
                    },
                    "barcode": {
                        "type": "string",
                        "description": "Barcode value for APMs that require it (e.g. Boleto)."
                    },
                    "params": {
                        "type": "object",
                        "description": "Additional parameters required to complete the action."
                    }
                }
            },
            "RefusalCode": {
                "type": "object",
                "description": "Present when `status` is `declined`. See the Declined Payments concept page for the full code table and how to react to each `recoveryAction`.",
                "properties": {
                    "reason": {
                        "type": "string",
                        "description": "Human-readable meaning of `reasonCode`.",
                        "example": "Insufficient funds"
                    },
                    "reasonCode": {
                        "type": "string",
                        "description": "Normalized ISO 8583 decline code. Every provider decline is mapped to this set, so handling logic is provider-independent. Full table with meanings on the Declined Payments concept page.",
                        "example": "51",
                        "enum": [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                            "11",
                            "12",
                            "13",
                            "14",
                            "15",
                            "16",
                            "17",
                            "19",
                            "20",
                            "21",
                            "22",
                            "25",
                            "28",
                            "30",
                            "41",
                            "43",
                            "46",
                            "51",
                            "52",
                            "53",
                            "54",
                            "55",
                            "57",
                            "58",
                            "59",
                            "61",
                            "62",
                            "63",
                            "65",
                            "68",
                            "75",
                            "76",
                            "77",
                            "78",
                            "80",
                            "81",
                            "82",
                            "83",
                            "85",
                            "91",
                            "92",
                            "93",
                            "94",
                            "95",
                            "96",
                            "B1",
                            "N0",
                            "N3",
                            "N4",
                            "N7",
                            "P2",
                            "P5",
                            "P6",
                            "Q1",
                            "R0",
                            "R1",
                            "R3",
                            "XA",
                            "XD",
                            "Z3"
                        ]
                    },
                    "originalReason": {
                        "type": "string",
                        "description": "Raw message the underlying provider returned, before normalization. Diagnostic only — format is not stable across providers."
                    },
                    "originalReasonCode": {
                        "type": "string",
                        "description": "Raw code the underlying provider returned, before normalization. Diagnostic only — format varies by provider."
                    },
                    "recoveryAction": {
                        "type": "string",
                        "description": "What the checkout should do next: `retry` (transient/technical — same card may be retried once), `switch_method` (this card will not work — prompt for another method), `terminal` (hard block — do not retry or offer an alternative).",
                        "enum": [
                            "retry",
                            "switch_method",
                            "terminal"
                        ]
                    }
                }
            },
            "PaymentResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The Therius payment id. Returned by `POST /payment/authorization` and `POST /payment/purchase`; use it as the `{id}` path segment for capture, refund, cancel and cancel_or_refund.",
                        "example": "9f8b2c1e-4d5a-6b7c-8d9e-0f1a2b3c4d5e"
                    },
                    "status": {
                        "$ref": "#/components/schemas/PaymentStatus"
                    },
                    "paymentCode": {
                        "type": "string",
                        "description": "Therius receipt ID, for reconciliation, support and Inquiry. NOT the handle for capture/refund/cancel — use `id` for that.",
                        "example": "PC-1234567890"
                    },
                    "orderCode": {
                        "type": "string",
                        "description": "Your `orderCode`, echoed back."
                    },
                    "merchantCode": {
                        "type": "string",
                        "description": "Your `merchantCode`, echoed back."
                    },
                    "autorizationCode": {
                        "type": "string",
                        "description": "Issuer authorization code on an approved payment. The field name is misspelled on the wire (no `h`) - this is intentional and stable."
                    },
                    "paymentMethod": {
                        "type": "string",
                        "description": "Payment method used, e.g. `card`, `pix`, `ach`."
                    },
                    "connectionCode": {
                        "type": "string",
                        "description": "Code of the gateway connection that processed the payment."
                    },
                    "connectionName": {
                        "type": "string",
                        "description": "Display name of the gateway connection that processed the payment."
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "card": {
                        "type": "object",
                        "description": "Card details from the response: masked PAN, brand, type, and the network transaction/reference IDs to cite on future MIT charges."
                    },
                    "apm": {
                        "type": "object",
                        "description": "Alternative-payment-method details (redirect URL, QR code, barcode) when `paymentMethod` is an APM."
                    },
                    "token": {
                        "type": "object",
                        "description": "Present when the card was tokenized (`tokenize: true`).",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "Token ID to use in future `tokenData` charges."
                            },
                            "expirationDate": {
                                "type": "string",
                                "description": "Token expiry date."
                            }
                        }
                    },
                    "actionRequired": {
                        "$ref": "#/components/schemas/ActionRequired"
                    },
                    "refusalCode": {
                        "$ref": "#/components/schemas/RefusalCode"
                    }
                }
            },
            "Plan": {
                "type": "object",
                "description": "A reusable billing plan. `amount` is a flat integer in the currency minor units (with separate `currency` + `exponent`) - not an Amount object.",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The plan unique integer ID."
                    },
                    "merchantId": {
                        "type": "integer",
                        "description": "The merchant account that owns the plan."
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "interval": {
                        "type": "string",
                        "enum": [
                            "day",
                            "week",
                            "month",
                            "year"
                        ],
                        "description": "Billing interval unit. Immutable after creation."
                    },
                    "intervalCount": {
                        "type": "integer",
                        "description": "Number of `interval` units between charges - `month` + `3` bills quarterly."
                    },
                    "amount": {
                        "type": "integer",
                        "description": "Recurring charge in the currency minor units (e.g. `2999` = $29.99 at exponent 2). Immutable after creation."
                    },
                    "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code. Immutable after creation."
                    },
                    "exponent": {
                        "type": "integer",
                        "description": "Decimal places for `amount` / `introAmount` - `2` for USD, `0` for JPY."
                    },
                    "trialPeriodDays": {
                        "type": "integer",
                        "description": "Free-trial length in days before the first charge. `0` for no trial."
                    },
                    "introAmount": {
                        "type": "integer",
                        "description": "Introductory charge in minor units for the first `introBillingCycles` cycles, if set."
                    },
                    "introBillingCycles": {
                        "type": "integer",
                        "description": "How many initial cycles are billed at `introAmount` before the rate reverts to `amount`."
                    },
                    "maxBillingCycles": {
                        "type": "integer",
                        "description": "Total cycles after which the subscription auto-completes. `0` = open-ended."
                    },
                    "availableCountries": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "ISO 3166-1 alpha-2 codes the plan is offered in. Empty = available everywhere."
                    },
                    "isActive": {
                        "type": "boolean",
                        "description": "Whether the plan accepts new subscribers. Existing subscriptions are unaffected when this is `false`."
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Subscription": {
                "type": "object",
                "description": "A customer enrollment in a plan. `plan` is embedded on single-subscription responses. Invoice/event history is not included here - use the invoice endpoints.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Subscription UUID."
                    },
                    "merchantId": {
                        "type": "integer",
                        "description": "The merchant account that owns the subscription."
                    },
                    "planId": {
                        "type": "integer",
                        "description": "ID of the plan this subscription is enrolled in."
                    },
                    "customerEmail": {
                        "type": "string",
                        "description": "Subscriber email, used for billing and dunning notifications."
                    },
                    "customerName": {
                        "type": "string",
                        "description": "Subscriber name as it appears on invoices."
                    },
                    "customerDocument": {
                        "type": "string",
                        "description": "Subscriber national ID / tax document, where a market requires it (e.g. Brazil CPF/CNPJ)."
                    },
                    "cardBrand": {
                        "type": "string",
                        "description": "Brand of the card on the mandate, e.g. `visa`."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "trialing",
                            "active",
                            "past_due",
                            "suspended",
                            "paused",
                            "cancelled",
                            "completed"
                        ],
                        "description": "`pending` - awaiting first charge; `trialing` - in a free trial; `active` - billing normally; `past_due` - a renewal failed and dunning is running; `suspended` - dunning exhausted, needs a new CIT (`POST /subscription/{id}/payment-method` in CIT mode) to recover; `paused` - billing stopped on request, resumable; `cancelled` - terminated; `completed` - reached `maxBillingCycles`."
                    },
                    "currentPeriodStart": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Start of the current billing period."
                    },
                    "currentPeriodEnd": {
                        "type": "string",
                        "format": "date-time",
                        "description": "End of the current billing period."
                    },
                    "nextBillingDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the next renewal charge is scheduled."
                    },
                    "trialStart": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Trial start, when the plan has a trial."
                    },
                    "trialEnd": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Trial end - the first real charge date."
                    },
                    "dunningAttemptCount": {
                        "type": "integer",
                        "description": "Failed-renewal retry attempts made in the current dunning sequence."
                    },
                    "activatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the subscription first became `active`."
                    },
                    "cancelledAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "pausedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "suspendedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Deferred start, when creation set a future `startAt`."
                    },
                    "cyclesCompleted": {
                        "type": "integer",
                        "description": "Number of billing cycles charged so far."
                    },
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the subscription reached `maxBillingCycles`."
                    },
                    "parentSubscriptionId": {
                        "type": "string",
                        "description": "Parent subscription UUID, for add-on hierarchies."
                    },
                    "propagateLifecycle": {
                        "type": "boolean",
                        "description": "Whether pause/cancel on the parent cascades to this subscription."
                    },
                    "pendingPlanId": {
                        "type": "integer",
                        "description": "Plan the subscription will switch to at the next cycle, set by a `next_billing` change-plan."
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "plan": {
                        "$ref": "#/components/schemas/Plan"
                    }
                }
            },
            "Invoice": {
                "type": "object",
                "description": "One billing cycle. `amount` is a flat integer in minor units with separate `currency` + `exponent`.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Invoice UUID."
                    },
                    "subscriptionId": {
                        "type": "string",
                        "description": "The subscription this invoice belongs to."
                    },
                    "merchantId": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "paid",
                            "failed",
                            "void"
                        ],
                        "description": "`open` - awaiting payment; `paid` - settled; `failed` - all payment attempts failed; `void` - cancelled, no longer collectible."
                    },
                    "amount": {
                        "type": "integer",
                        "description": "Invoice total in the currency minor units."
                    },
                    "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code."
                    },
                    "exponent": {
                        "type": "integer",
                        "description": "Decimal places for `amount`."
                    },
                    "periodStart": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Start of the service period this invoice covers."
                    },
                    "periodEnd": {
                        "type": "string",
                        "format": "date-time",
                        "description": "End of the service period this invoice covers."
                    },
                    "dueDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "paymentAttemptCount": {
                        "type": "integer",
                        "description": "Charge attempts made against this invoice, including dunning retries."
                    },
                    "paidAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "voidedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "attempts": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        },
                        "description": "Per-attempt gateway results. Present on the single-invoice endpoint (`GET /subscription/invoice/{id}`)."
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InvoiceLine"
                        },
                        "description": "Itemisation - present only when the plan prices usage meters: one base-fee line (no `meterId`) plus one per metered add-on. Absent/empty for a flat-fee invoice."
                    }
                }
            },
            "InvoiceLine": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "example": "API requests (api_requests)"
                    },
                    "meterId": {
                        "type": "integer",
                        "description": "The usage meter this line was priced from. Omitted on the base plan-fee line."
                    },
                    "quantity": {
                        "type": "number",
                        "description": "Billable quantity for this meter over the invoice period, after subtracting the plan's included units.",
                        "example": 12000
                    },
                    "unitAmount": {
                        "type": "integer",
                        "description": "Configured per-unit price in minor units (per_unit scheme). `0` for tiered (volume/graduated) pricing.",
                        "example": 1
                    },
                    "amount": {
                        "type": "integer",
                        "description": "Line total in minor units.",
                        "example": 12000
                    }
                }
            },
            "ModificationResponse": {
                "type": "object",
                "description": "Result of a capture, refund, cancel or cancel_or_refund.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The Therius payment `id`."
                    },
                    "merchantCode": {
                        "type": "string"
                    },
                    "orderCode": {
                        "type": "string"
                    },
                    "paymentCode": {
                        "type": "string",
                        "description": "Therius receipt ID."
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "captured",
                            "refunded",
                            "cancelled",
                            "failed"
                        ],
                        "description": "Outcome of the operation."
                    }
                }
            },
            "InquiryResponse": {
                "type": "object",
                "description": "Current state of a payment. Note `amount` here is a flat integer in minor units with a separate `currency`, unlike the Amount object used elsewhere.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Internal Therius payment UUID."
                    },
                    "merchantId": {
                        "type": "integer",
                        "description": "Your merchant account ID."
                    },
                    "orderCode": {
                        "type": "string",
                        "description": "Your original order reference."
                    },
                    "paymentCode": {
                        "type": "string",
                        "description": "Therius receipt ID."
                    },
                    "status": {
                        "$ref": "#/components/schemas/PaymentStatus"
                    },
                    "amount": {
                        "type": "integer",
                        "description": "Payment amount in the currency minor units."
                    },
                    "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code."
                    },
                    "authorizationCode": {
                        "type": "string",
                        "description": "Issuer authorization code. Present on `authorized` and `captured` payments."
                    },
                    "refusalCode": {
                        "$ref": "#/components/schemas/RefusalCode"
                    }
                }
            },
            "PaymentStatus": {
                "type": "string",
                "enum": [
                    "captured",
                    "authorized",
                    "declined",
                    "pending_3ds",
                    "pending_action",
                    "failed",
                    "cancelled",
                    "refunded"
                ],
                "description": "`captured` - funds settled; `authorized` - funds reserved, call capture to settle; `declined` - issuer declined, see `refusalCode`; `pending_3ds` - a 3DS challenge is required, see `actionRequired`; `pending_action` - an external action (redirect, voucher) is required, see `actionRequired`; `failed` - processing error unrelated to the issuer; `cancelled` - authorization voided; `refunded` - captured funds returned."
            }
        }
    },
    "paths": {
        "/payment/purchase": {
            "post": {
                "operationId": "purchasePayment",
                "summary": "Charge a card in one step",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "orderCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "orderCode": {
                                        "type": "string",
                                        "description": "Your internal order reference. Must be unique per merchant — use it to correlate Therius payments with your own records."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/Card"
                                    },
                                    "apm": {
                                        "type": "object",
                                        "description": "Alternative payment method data — use instead of `card` for APMs such as Pix, ACH or Boleto. Structure varies by method."
                                    },
                                    "paymentMethod": {
                                        "type": "string",
                                        "description": "Payment method code. Omit for card payments; for APMs pass the code, e.g. `pix`, `ach`, `boleto`."
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "webhookUrl": {
                                        "type": "string",
                                        "description": "Per-payment webhook URL override (HTTPS only). Therius posts the final payment status here when it changes asynchronously."
                                    },
                                    "connectionCode": {
                                        "type": "string",
                                        "description": "Pin this payment to a specific gateway connection. Omit to use your routing rules."
                                    },
                                    "ipAddress": {
                                        "type": "string",
                                        "description": "Cardholder's IP address, passed to fraud scoring when available."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Arbitrary string key/value pairs, echoed back in webhook payloads."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/authorization": {
            "post": {
                "operationId": "authorizePayment",
                "summary": "Place a fund reserve",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "orderCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "orderCode": {
                                        "type": "string",
                                        "description": "Your internal order reference. Must be unique per merchant — use it to correlate Therius payments with your own records."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/Card"
                                    },
                                    "apm": {
                                        "type": "object",
                                        "description": "Alternative payment method data — use instead of `card` for APMs such as Pix, ACH or Boleto. Structure varies by method."
                                    },
                                    "paymentMethod": {
                                        "type": "string",
                                        "description": "Payment method code. Omit for card payments; for APMs pass the code, e.g. `pix`, `ach`, `boleto`."
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "webhookUrl": {
                                        "type": "string",
                                        "description": "Per-payment webhook URL override (HTTPS only). Therius posts the final payment status here when it changes asynchronously."
                                    },
                                    "connectionCode": {
                                        "type": "string",
                                        "description": "Pin this payment to a specific gateway connection. Omit to use your routing rules."
                                    },
                                    "ipAddress": {
                                        "type": "string",
                                        "description": "Cardholder's IP address, passed to fraud scoring when available."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Arbitrary string key/value pairs, echoed back in webhook payloads."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authorization result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/capture": {
            "post": {
                "operationId": "capturePayment",
                "summary": "Settle a prior authorization",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this capture operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Capture result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/cancel": {
            "post": {
                "operationId": "cancelPayment",
                "summary": "Release an authorization hold",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this cancellation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cancellation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/refund": {
            "post": {
                "operationId": "refundPayment",
                "summary": "Issue a full or partial refund",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this refund operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Refund result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/cancel_or_refund": {
            "post": {
                "operationId": "cancelOrRefundPayment",
                "summary": "Reverse a payment",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reverse result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModificationResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/resume": {
            "post": {
                "operationId": "resumePayment",
                "summary": "Continue after 3DS challenge",
                "tags": [
                    "Payments"
                ],
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "sessionId"
                                ],
                                "properties": {
                                    "sessionId": {
                                        "type": "string",
                                        "description": "The `sessionId` from a `pending_3ds` / `pending_action` payment response."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Resumed payment result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/inquiry/{id}": {
            "get": {
                "operationId": "inquiryPayment",
                "summary": "Retrieve payment status",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The `paymentCode` (e.g. `PC-1234567890`) or the internal payment UUID."
                    },
                    {
                        "name": "X-Environment",
                        "in": "header",
                        "description": "Set to `sandbox` to look up a sandbox payment without an API key (e.g. client-side status polling). Defaults to `production`.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sandbox",
                                "production"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InquiryResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sdk/session": {
            "post": {
                "operationId": "createSdkSession",
                "summary": "Create a short-lived SDK token",
                "tags": [
                    "SDK"
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "country": {
                                        "type": "string",
                                        "description": "ISO 3166-1 alpha-2 code of the shopper country. Optional for a bare clientToken; required if you also set `amount`, `currency`, or `orderCode` (those create a bound checkout session)."
                                    },
                                    "amount": {
                                        "type": "integer",
                                        "description": "Locked amount in minor units. Omit to let the browser SDK manage the amount."
                                    },
                                    "currency": {
                                        "type": "string",
                                        "description": "Locked ISO 4217 currency. Omit to let the browser SDK manage it."
                                    },
                                    "installments": {
                                        "type": "integer",
                                        "description": "Number of installments to offer. Defaults to 1."
                                    },
                                    "orderCode": {
                                        "type": "string",
                                        "description": "Your order reference to attach to the resulting payment."
                                    },
                                    "customerId": {
                                        "type": "string",
                                        "description": "Your shopper identifier - enables saved-card retrieval and the save-card checkbox for this session."
                                    },
                                    "paymentCode": {
                                        "type": "string",
                                        "description": "Pre-assigned Therius payment code, if you allocate them yourself."
                                    },
                                    "checkoutConfigId": {
                                        "type": "string",
                                        "description": "UUID of a Checkout Builder configuration to bind to this session."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SDK session token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "clientToken": {
                                            "type": "string",
                                            "description": "Short-lived JWT for the browser SDK. Pass as `Bearer` to the SDK endpoints.",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        },
                                        "expiresIn": {
                                            "type": "integer",
                                            "description": "Token lifetime in seconds.",
                                            "example": 1800
                                        },
                                        "defaultCheckoutConfigId": {
                                            "type": "string",
                                            "description": "The merchant default Checkout Builder config, when no `checkoutConfigId` was supplied."
                                        },
                                        "sessionId": {
                                            "type": "string",
                                            "description": "Checkout session ID - present when `country` created a session."
                                        },
                                        "country": {
                                            "type": "string",
                                            "description": "Echoed session country."
                                        },
                                        "amount": {
                                            "type": "integer",
                                            "description": "Echoed locked amount."
                                        },
                                        "currency": {
                                            "type": "string",
                                            "description": "Echoed locked currency."
                                        },
                                        "sdkIntegrity": {
                                            "type": "string",
                                            "description": "SRI hash for the SDK bundle, when available."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/token": {
            "post": {
                "operationId": "storeTokens",
                "summary": "Store card tokens for future payments",
                "tags": [
                    "Tokens"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "tokens"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier."
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "tokens": {
                                        "type": "array",
                                        "description": "Cards to tokenize. Each entry carries a card instrument (`cardData` or `nonceData`) and an optional `expirationDate`.",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tokens created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "merchantCode": {
                                            "type": "string"
                                        },
                                        "shopper": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "tokens": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Token ID - pass as `card.tokenData.token` on a future charge."
                                                    },
                                                    "expirationDate": {
                                                        "type": "string",
                                                        "description": "Token expiry."
                                                    },
                                                    "tokenCreationReference": {
                                                        "type": "string",
                                                        "description": "Idempotency reference for this tokenization."
                                                    },
                                                    "card": {
                                                        "type": "object",
                                                        "description": "Masked card details: `cardData` with `brand`, `type`, `cardNumber`, `issuingCountry`, `issuerName`."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/plan": {
            "post": {
                "operationId": "createPlan",
                "summary": "Create a subscription plan",
                "tags": [
                    "Plans"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "name",
                                    "interval",
                                    "amount",
                                    "currency"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Human-readable plan name."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Optional plan description."
                                    },
                                    "interval": {
                                        "type": "string",
                                        "enum": [
                                            "day",
                                            "week",
                                            "month",
                                            "year"
                                        ],
                                        "description": "Billing interval unit."
                                    },
                                    "intervalCount": {
                                        "type": "integer",
                                        "description": "Number of `interval` units between charges. Defaults to 1."
                                    },
                                    "amount": {
                                        "type": "integer",
                                        "description": "Recurring charge in the currency minor units."
                                    },
                                    "currency": {
                                        "type": "string",
                                        "description": "ISO 4217 currency code."
                                    },
                                    "exponent": {
                                        "type": "integer",
                                        "description": "Decimal places for `amount` - defaults to the currency standard (2 for USD, 0 for JPY)."
                                    },
                                    "trialPeriodDays": {
                                        "type": "integer",
                                        "description": "Free-trial length in days. `0` for no trial."
                                    },
                                    "introAmount": {
                                        "type": "integer",
                                        "description": "Introductory charge in minor units for the first `introBillingCycles` cycles."
                                    },
                                    "introBillingCycles": {
                                        "type": "integer",
                                        "description": "Cycles billed at `introAmount` before reverting to `amount`."
                                    },
                                    "maxBillingCycles": {
                                        "type": "integer",
                                        "description": "Total cycles after which the subscription auto-completes. `0` = open-ended."
                                    },
                                    "availableCountries": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "ISO 3166-1 alpha-2 codes to restrict the plan to. Omit for global availability."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Plan created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "listPlans",
                "summary": "List all subscription plans",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "description": "Your merchant account identifier. Required if the key maps to more than one merchant account.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "ISO 3166-1 alpha-2 code - returns plans available in that country plus all globally-available plans.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of plans",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Plan"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/plan/{id}": {
            "patch": {
                "operationId": "updatePlan",
                "summary": "Update a subscription plan",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "New plan name."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "New description."
                                    },
                                    "isActive": {
                                        "type": "boolean",
                                        "description": "Set `false` to stop the plan accepting new subscribers. `amount` and `interval` cannot be changed - create a new plan and use change-plan instead."
                                    },
                                    "availableCountries": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Replacement list of ISO 3166-1 alpha-2 codes. Send `[]` to make the plan global."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "archivePlan",
                "summary": "Archive a subscription plan",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Plan archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "deleted": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription": {
            "post": {
                "operationId": "createSubscription",
                "summary": "Create and activate a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "planId",
                                    "customerEmail",
                                    "card"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier."
                                    },
                                    "planId": {
                                        "type": "integer",
                                        "description": "ID of an active plan. Determines amount, currency, interval and trial."
                                    },
                                    "customerEmail": {
                                        "type": "string",
                                        "description": "Subscriber email. Used for billing and dunning notifications."
                                    },
                                    "customerName": {
                                        "type": "string",
                                        "description": "Subscriber full name, as it should appear on invoices."
                                    },
                                    "customerDocument": {
                                        "type": "string",
                                        "description": "Subscriber national ID / tax document, where a market requires it (e.g. Brazil CPF/CNPJ)."
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/SubscriptionCard"
                                    },
                                    "firstPaymentId": {
                                        "type": "string",
                                        "description": "Record mode only, when a first payment is due. The payment `id` from the `/payment/authorization` or `/payment/purchase` call in which you ran this card CIT - Therius verifies it charged the same vaulted token in the plan currency, then marks cycle 1 paid and links it (no charge). Omit and Therius charges cycle 1 as an MIT against the recorded mandate."
                                    },
                                    "startAt": {
                                        "type": "string",
                                        "description": "RFC 3339 future timestamp to defer the first charge. Omit to activate (or start the trial) immediately."
                                    },
                                    "parentSubscriptionId": {
                                        "type": "string",
                                        "description": "UUID of an existing subscription to attach this one to as a child (add-on hierarchies)."
                                    },
                                    "propagateLifecycle": {
                                        "type": "boolean",
                                        "description": "When `true`, pause/cancel on `parentSubscriptionId` cascades to this subscription. Requires `parentSubscriptionId`."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Arbitrary string key/value pairs, echoed on subscription responses and webhooks."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subscription created. Body is the Subscription plus `firstInvoice`, and `firstCycle` in record mode (what happened to cycle 1).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "listSubscriptions",
                "summary": "List and filter subscriptions",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status: `pending`, `trialing`, `active`, `past_due`, `suspended`, `cancelled`, `paused`, `completed`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Partial, case-insensitive match on customer email.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer_name",
                        "in": "query",
                        "description": "Partial, case-insensitive match on customer name.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "plan_id",
                        "in": "query",
                        "description": "Filter to one plan ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "card_brand",
                        "in": "query",
                        "description": "Filter by card brand, e.g. `visa`, `mastercard`, `amex`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "created_from",
                        "in": "query",
                        "description": "ISO 8601 date lower bound (inclusive) on creation date.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "created_to",
                        "in": "query",
                        "description": "ISO 8601 date upper bound (inclusive) on creation date.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number, starting at 1. Default 1.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Results per page. Default 20, max 200.",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Subscription"
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
[...]
