{
    "openapi": "3.1.0",
    "info": {
        "title": "Therius API",
        "description": "REST API for payments, subscriptions, and billing plans.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.therius.io/v1",
            "description": "Production"
        },
        {
            "url": "https://api-sandbox.therius.io/v1",
            "description": "Sandbox"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Your secret API key: `Bearer prv_production_xxx` (production) or `Bearer prv_sandbox_xxx` (sandbox)."
            }
        },
        "parameters": {
            "IdempotencyKey": {
                "name": "Idempotency-Key",
                "in": "header",
                "description": "A UUID you generate per operation. Required in production. Retrying with the same key returns the original response.",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                }
            },
            "PaymentId": {
                "name": "id",
                "in": "path",
                "required": true,
                "description": "The Therius payment `id` returned by `POST /payment/authorization` or `POST /payment/purchase`.",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "schemas": {
            "Amount": {
                "type": "object",
                "required": [
                    "currency",
                    "value",
                    "exponent"
                ],
                "properties": {
                    "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code. On capture, refund and cancel it must match the currency of the original payment.",
                        "example": "USD"
                    },
                    "value": {
                        "type": "integer",
                        "description": "Amount in minor units (cents, pence, etc.). `4999` = $49.99 for USD (exponent 2); `5000` = ¥5000 for JPY (exponent 0). On capture it must not exceed the authorized value; on refund the cumulative total across refunds must not exceed the captured amount.",
                        "example": 4999
                    },
                    "exponent": {
                        "type": "integer",
                        "description": "Number of decimal places for the currency — `2` for USD/EUR, `0` for JPY. Determines where the decimal point sits in `value`.",
                        "example": 2
                    }
                }
            },
            "CardAddress": {
                "type": "object",
                "properties": {
                    "line1": {
                        "type": "string"
                    },
                    "line2": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    }
                }
            },
            "CardData": {
                "type": "object",
                "description": "Raw card details. Only if your server is PCI DSS compliant to handle raw PANs — otherwise collect the card with the Therius JS SDK and send `nonceData`.",
                "properties": {
                    "cardNumber": {
                        "type": "string",
                        "description": "Full PAN, digits only.",
                        "example": "4111111111111111"
                    },
                    "cardholderName": {
                        "type": "string",
                        "description": "Name as it appears on the card.",
                        "example": "Ada Lovelace"
                    },
                    "expiryMonth": {
                        "type": "string",
                        "description": "Two-digit expiry month, e.g. `12`.",
                        "example": "12"
                    },
                    "expiryYear": {
                        "type": "string",
                        "description": "Four-digit expiry year, e.g. `2030`.",
                        "example": "2030"
                    },
                    "cvv": {
                        "type": "string",
                        "description": "Card verification value (3 or 4 digits).",
                        "example": "123"
                    },
                    "tokenize": {
                        "type": "boolean",
                        "description": "Set to `true` to save this card as a reusable token. Requires `shopper.id` in the request."
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    },
                    "documentNumber": {
                        "type": "string",
                        "description": "Cardholder tax/document ID, required by some LATAM acquirers."
                    },
                    "typeOverride": {
                        "type": "string",
                        "description": "Override the detected card type, e.g. `debit`."
                    }
                }
            },
            "NonceData": {
                "type": "object",
                "description": "Single-use nonce from the Therius JS SDK — no card data touches your server. Nonces are single-use and expire after a short window.",
                "properties": {
                    "nonce": {
                        "type": "string",
                        "description": "The nonce string returned by the SDK."
                    },
                    "cardholderName": {
                        "type": "string",
                        "description": "Cardholder name."
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    },
                    "tokenize": {
                        "type": "boolean",
                        "description": "Save the card as a token after payment. Requires `shopper.id` in the request."
                    },
                    "typeOverride": {
                        "type": "string",
                        "description": "Override the detected card type."
                    }
                }
            },
            "TokenData": {
                "type": "object",
                "description": "A `vt_...` vault token for a card the shopper previously tokenized.",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Token ID returned from a prior tokenization."
                    },
                    "cvv": {
                        "type": "string",
                        "description": "CVV, if re-collection is required by the acquirer."
                    },
                    "cardAddress": {
                        "$ref": "#/components/schemas/CardAddress"
                    }
                }
            },
            "CardInstrument": {
                "description": "The payment instrument. Provide exactly ONE of `cardData`, `nonceData`, or `tokenData` — they are interchangeable alternatives, not fields to send together. `cardData` carries a raw PAN and requires your server to be PCI DSS compliant; `nonceData` is a single-use nonce from the Therius JS SDK; `tokenData` reuses a stored `vt_...` vault token.",
                "oneOf": [
                    {
                        "title": "Raw card (PCI DSS)",
                        "type": "object",
                        "required": [
                            "cardData"
                        ],
                        "properties": {
                            "cardData": {
                                "$ref": "#/components/schemas/CardData"
                            }
                        }
                    },
                    {
                        "title": "SDK nonce",
                        "type": "object",
                        "required": [
                            "nonceData"
                        ],
                        "properties": {
                            "nonceData": {
                                "$ref": "#/components/schemas/NonceData"
                            }
                        }
                    },
                    {
                        "title": "Vault token",
                        "type": "object",
                        "required": [
                            "tokenData"
                        ],
                        "properties": {
                            "tokenData": {
                                "$ref": "#/components/schemas/TokenData"
                            }
                        }
                    }
                ]
            },
            "CardOnFile": {
                "type": "object",
                "description": "Stored-credential (MIT/CIT) framework metadata for one-off payments. Optional — Therius derives it from context when omitted. Not accepted on subscription endpoints.",
                "properties": {
                    "usage": {
                        "type": "string",
                        "enum": [
                            "first",
                            "subsequent"
                        ]
                    },
                    "initiatedBy": {
                        "type": "string",
                        "enum": [
                            "cardholder",
                            "merchant"
                        ]
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "recurring",
                            "installment",
                            "unscheduled"
                        ]
                    },
                    "exceptionReason": {
                        "type": "string",
                        "enum": [
                            "resubmission",
                            "incremental",
                            "reauthorization",
                            "delayed_charge",
                            "no_show"
                        ]
                    }
                }
            },
            "Card": {
                "description": "Card input for one-off payments: exactly one instrument (`cardData` / `nonceData` / `tokenData`) plus optional stored-credential and installment modifiers.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "cardOnFile": {
                                "$ref": "#/components/schemas/CardOnFile"
                            },
                            "instalments": {
                                "type": "integer",
                                "description": "Number of issuer installments (LATAM markets). Defaults to 1."
                            },
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Scheme mandate reference from the original CIT. Cite it on merchant-initiated stored-credential charges."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Mastercard TLID (or scheme equivalent) from the original CIT, sent alongside `networkTransactionId`."
                            }
                        }
                    }
                ]
            },
            "SubscriptionCard": {
                "description": "Card input for creating a subscription. Enrolling a customer is a CIT and a CIT may require 3D Secure — pick the mode that fits:\n\n• **CIT mode** (`nonceData` / `cardData`): Therius runs the initial CIT + first charge here. The customer must be present. This CIT cannot carry out a 3D Secure challenge, so a 3DS-required card will fail — use record mode for those.\n\n• **Record mode** (`tokenData`): the token is a card that already completed a CIT — including any 3DS — through `/payment/authorization` or `/payment/purchase` (with `card.<x>.tokenize: true` + `shopper.id`). No second CIT runs. The mandate is read from the token; pass `networkTransactionId` / `networkReferenceId` explicitly only for a card CIT'd outside Therius. For cycle 1: with a trial or deferred start nothing is charged; with `firstPaymentId` set Therius marks the first invoice paid and links that payment; otherwise Therius charges cycle 1 as an MIT against the recorded mandate.\n\nProvide exactly ONE of `cardData`, `nonceData`, or `tokenData`. `cardOnFile` and `instalments` are not accepted — Therius owns the mandate.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Record mode only. The Network Transaction ID from the original CIT. Optional when the token already carries its mandate; required when recording a card CIT'd outside Therius."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Record mode only. The Mastercard TLID (or scheme equivalent) from the original CIT, alongside `networkTransactionId`. Defaults to `networkTransactionId` when omitted."
                            }
                        }
                    }
                ]
            },
            "SubscriptionCardUpdate": {
                "description": "Card input for replacing the card on a subscription. Changing the card is always a CIT and a CIT may require 3D Secure — pick the mode that fits:\n\n• **Record mode** (`tokenData`): the token is a card that already completed a CIT elsewhere. Run your own 3DS-capable CIT via `/payment/authorization` or `/payment/purchase` (with `card.<x>.tokenize: true` + `shopper.id`), then attach the resulting `vt_...` token here. No gateway call, no 3DS. The mandate is read from the token; pass `networkTransactionId` / `networkReferenceId` explicitly only for a card CIT'd outside Therius. Cannot reactivate a `suspended` subscription.\n\n• **CIT mode** (`nonceData` / `cardData`): runs a zero-value CIT here and can reactivate a `suspended` subscription — but this CIT cannot carry out a 3D Secure challenge, so a card that requires 3DS will fail. Use record mode for those.\n\nProvide exactly ONE of `cardData`, `nonceData`, or `tokenData`.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CardInstrument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "networkTransactionId": {
                                "type": "string",
                                "description": "Record mode only. The scheme mandate reference (Network Transaction ID) returned by the original CIT. Optional when the token already carries its mandate; required when recording a card that was CIT'd outside Therius."
                            },
                            "networkReferenceId": {
                                "type": "string",
                                "description": "Record mode only. The Mastercard TLID (or scheme equivalent) from the original CIT, alongside `networkTransactionId`. Defaults to `networkTransactionId` when omitted."
                            }
                        }
                    }
                ]
            },
            "Shopper": {
                "type": "object",
                "description": "Shopper information. Required when tokenizing a card (`card.<instrument>.tokenize: true`).",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Your internal shopper ID. Used to associate saved tokens with a customer."
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Shopper's email address."
                    },
                    "name": {
                        "type": "string",
                        "description": "Shopper's full name."
                    }
                }
            },
            "ActionRequired": {
                "type": "object",
                "description": "Present when `status` is `pending_3ds` or `pending_action`. Describes what the cardholder must do next — with the Therius JS SDK, pass the whole object to `sdk.handleAction()`.",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Action type, e.g. `redirect`, `barcode`."
                    },
                    "url": {
                        "type": "string",
                        "description": "URL to send the cardholder to for a 3DS challenge or external APM flow."
                    },
                    "paymentCode": {
                        "type": "string",
                        "description": "Therius payment code tied to this pending action."
                    },
                    "barcode": {
                        "type": "string",
                        "description": "Barcode value for APMs that require it (e.g. Boleto)."
                    },
                    "params": {
                        "type": "object",
                        "description": "Additional parameters required to complete the action."
                    }
                }
            },
            "RefusalCode": {
                "type": "object",
                "description": "Present when `status` is `declined`. See the Declined Payments concept page for the full code table and how to react to each `recoveryAction`.",
                "properties": {
                    "reason": {
                        "type": "string",
                        "description": "Human-readable meaning of `reasonCode`.",
                        "example": "Insufficient funds"
                    },
                    "reasonCode": {
                        "type": "string",
                        "description": "Normalized ISO 8583 decline code. Every provider decline is mapped to this set, so handling logic is provider-independent. Full table with meanings on the Declined Payments concept page.",
                        "example": "51",
                        "enum": [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                            "11",
                            "12",
                            "13",
                            "14",
                            "15",
                            "16",
                            "17",
                            "19",
                            "20",
                            "21",
                            "22",
                            "25",
                            "28",
                            "30",
                            "41",
                            "43",
                            "46",
                            "51",
                            "52",
                            "53",
                            "54",
                            "55",
                            "57",
                            "58",
                            "59",
                            "61",
                            "62",
                            "63",
                            "65",
                            "68",
                            "75",
                            "76",
                            "77",
                            "78",
                            "80",
                            "81",
                            "82",
                            "83",
                            "85",
                            "91",
                            "92",
                            "93",
                            "94",
                            "95",
                            "96",
                            "B1",
                            "N0",
                            "N3",
                            "N4",
                            "N7",
                            "P2",
                            "P5",
                            "P6",
                            "Q1",
                            "R0",
                            "R1",
                            "R3",
                            "XA",
                            "XD",
                            "Z3"
                        ]
                    },
                    "originalReason": {
                        "type": "string",
                        "description": "Raw message the underlying provider returned, before normalization. Diagnostic only — format is not stable across providers."
                    },
                    "originalReasonCode": {
                        "type": "string",
                        "description": "Raw code the underlying provider returned, before normalization. Diagnostic only — format varies by provider."
                    },
                    "recoveryAction": {
                        "type": "string",
                        "description": "What the checkout should do next: `retry` (transient/technical — same card may be retried once), `switch_method` (this card will not work — prompt for another method), `terminal` (hard block — do not retry or offer an alternative).",
                        "enum": [
                            "retry",
                            "switch_method",
                            "terminal"
                        ]
                    }
                }
            },
            "PaymentResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The Therius payment id. Returned by `POST /payment/authorization` and `POST /payment/purchase`; use it as the `{id}` path segment for capture, refund, cancel and cancel_or_refund.",
                        "example": "9f8b2c1e-4d5a-6b7c-8d9e-0f1a2b3c4d5e"
                    },
                    "status": {
                        "type": "string",
                        "description": "Outcome of the operation. `captured` — funds settled; `authorized` — funds reserved, call capture to settle; `declined` — issuer declined, see `refusalCode`; `pending_3ds` — cardholder must complete a 3DS challenge, see `actionRequired`; `pending_action` — an external action (redirect, voucher) is required, see `actionRequired`; `failed` — processing error unrelated to the issuer; `cancelled` — authorization voided; `refunded` — captured funds returned.",
                        "enum": [
                            "captured",
                            "authorized",
                            "declined",
                            "pending_3ds",
                            "pending_action",
                            "failed",
                            "cancelled",
                            "refunded"
                        ]
                    },
                    "paymentCode": {
                        "type": "string",
                        "description": "Therius receipt ID, for reconciliation, support and Inquiry. NOT the handle for capture/refund/cancel — use `id` for that.",
                        "example": "PC-1234567890"
                    },
                    "orderCode": {
                        "type": "string",
                        "description": "Your `orderCode`, echoed back."
                    },
                    "merchantCode": {
                        "type": "string",
                        "description": "Your `merchantCode`, echoed back."
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "card": {
                        "type": "object",
                        "description": "Card details from the response: masked PAN, brand, type, and the network transaction/reference IDs to cite on future MIT charges."
                    },
                    "token": {
                        "type": "object",
                        "description": "Present when the card was tokenized (`tokenize: true`).",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "Token ID to use in future `tokenData` charges."
                            },
                            "expirationDate": {
                                "type": "string",
                                "description": "Token expiry date."
                            }
                        }
                    },
                    "actionRequired": {
                        "$ref": "#/components/schemas/ActionRequired"
                    },
                    "refusalCode": {
                        "$ref": "#/components/schemas/RefusalCode"
                    }
                }
            },
            "Plan": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The plan's unique ID."
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "interval": {
                        "type": "string",
                        "description": "Billing interval unit. Immutable after creation.",
                        "enum": [
                            "day",
                            "week",
                            "month",
                            "year"
                        ]
                    },
                    "intervalCount": {
                        "type": "integer",
                        "description": "Number of `interval` units between charges — e.g. `interval: month` + `intervalCount: 3` bills quarterly."
                    },
                    "trialDays": {
                        "type": "integer",
                        "description": "Free-trial length in days before the first charge. `0` for no trial."
                    },
                    "countries": {
                        "type": "array",
                        "description": "ISO 3166-1 alpha-2 codes this plan is offered in. Empty = available everywhere.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "active": {
                        "type": "boolean",
                        "description": "Whether the plan is accepting new subscribers. Set `false` to soft-deactivate without affecting existing subscriptions."
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Whether the plan has been archived. Archived plans still appear in list results and keep billing their existing subscribers."
                    },
                    "subscriberCount": {
                        "type": "integer",
                        "description": "Number of currently active or trialing subscribers on this plan."
                    }
                }
            },
            "Subscription": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Subscription UUID."
                    },
                    "planId": {
                        "type": "string",
                        "description": "ID of the plan this subscription is enrolled in."
                    },
                    "status": {
                        "type": "string",
                        "description": "`pending` — awaiting first charge; `trialing` — in a free trial; `active` — billing normally; `past_due` — a renewal failed and dunning is running; `suspended` — dunning exhausted, needs a new CIT to recover; `paused` — billing stopped on request, resumable; `cancelled` — terminated.",
                        "enum": [
                            "pending",
                            "trialing",
                            "active",
                            "past_due",
                            "paused",
                            "suspended",
                            "cancelled",
                            "completed"
                        ]
                    },
                    "shopper": {
                        "$ref": "#/components/schemas/Shopper"
                    },
                    "card": {
                        "type": "object",
                        "description": "Masked details of the card on the mandate."
                    },
                    "currentPeriodStart": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Start of the current billing period."
                    },
                    "currentPeriodEnd": {
                        "type": "string",
                        "format": "date-time",
                        "description": "End of the current billing period — the next scheduled renewal date."
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Invoice": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "subscriptionId": {
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "paid",
                            "open",
                            "failed",
                            "void"
                        ]
                    },
                    "paymentCode": {
                        "type": "string"
                    },
                    "periodStart": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "periodEnd": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lines": {
                        "type": "array",
                        "description": "Itemisation of the invoice. Present only when the plan prices one or more usage meters: one line for the base plan fee (no `meterId`) plus one line per metered add-on. Absent or empty for a flat-fee invoice.",
                        "items": {
                            "$ref": "#/components/schemas/InvoiceLine"
                        }
                    }
                }
            },
            "InvoiceLine": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "example": "API requests (api_requests)"
                    },
                    "meterId": {
                        "type": "integer",
                        "description": "The usage meter this line was priced from. Omitted on the base plan-fee line."
                    },
                    "quantity": {
                        "type": "number",
                        "description": "Billable quantity for this meter over the invoice period, after subtracting the plan's included units.",
                        "example": 12000
                    },
                    "unitAmount": {
                        "type": "integer",
                        "description": "Configured per-unit price in minor units (per_unit scheme). `0` for tiered (volume/graduated) pricing.",
                        "example": 1
                    },
                    "amount": {
                        "type": "integer",
                        "description": "Line total in minor units.",
                        "example": 12000
                    }
                }
            }
        }
    },
    "paths": {
        "/payment/purchase": {
            "post": {
                "operationId": "purchasePayment",
                "summary": "Charge a card in one step",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "orderCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "orderCode": {
                                        "type": "string",
                                        "description": "Your internal order reference. Must be unique per merchant — use it to correlate Therius payments with your own records."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/Card"
                                    },
                                    "apm": {
                                        "type": "object",
                                        "description": "Alternative payment method data — use instead of `card` for APMs such as Pix, ACH or Boleto. Structure varies by method."
                                    },
                                    "paymentMethod": {
                                        "type": "string",
                                        "description": "Payment method code. Omit for card payments; for APMs pass the code, e.g. `pix`, `ach`, `boleto`."
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "webhookUrl": {
                                        "type": "string",
                                        "description": "Per-payment webhook URL override (HTTPS only). Therius posts the final payment status here when it changes asynchronously."
                                    },
                                    "connectionCode": {
                                        "type": "string",
                                        "description": "Pin this payment to a specific gateway connection. Omit to use your routing rules."
                                    },
                                    "ipAddress": {
                                        "type": "string",
                                        "description": "Cardholder's IP address, passed to fraud scoring when available."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Arbitrary string key/value pairs, echoed back in webhook payloads."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/authorization": {
            "post": {
                "operationId": "authorizePayment",
                "summary": "Place a fund reserve",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "orderCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "orderCode": {
                                        "type": "string",
                                        "description": "Your internal order reference. Must be unique per merchant — use it to correlate Therius payments with your own records."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/Card"
                                    },
                                    "apm": {
                                        "type": "object",
                                        "description": "Alternative payment method data — use instead of `card` for APMs such as Pix, ACH or Boleto. Structure varies by method."
                                    },
                                    "paymentMethod": {
                                        "type": "string",
                                        "description": "Payment method code. Omit for card payments; for APMs pass the code, e.g. `pix`, `ach`, `boleto`."
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "webhookUrl": {
                                        "type": "string",
                                        "description": "Per-payment webhook URL override (HTTPS only). Therius posts the final payment status here when it changes asynchronously."
                                    },
                                    "connectionCode": {
                                        "type": "string",
                                        "description": "Pin this payment to a specific gateway connection. Omit to use your routing rules."
                                    },
                                    "ipAddress": {
                                        "type": "string",
                                        "description": "Cardholder's IP address, passed to fraud scoring when available."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Arbitrary string key/value pairs, echoed back in webhook payloads."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authorization result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/capture": {
            "post": {
                "operationId": "capturePayment",
                "summary": "Settle a prior authorization",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this capture operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Capture result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/cancel": {
            "post": {
                "operationId": "cancelPayment",
                "summary": "Release an authorization hold",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this cancellation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cancellation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/refund": {
            "post": {
                "operationId": "refundPayment",
                "summary": "Issue a full or partial refund",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "amount"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this refund operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Refund result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/{id}/cancel_or_refund": {
            "post": {
                "operationId": "cancelOrRefundPayment",
                "summary": "Reverse a payment",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PaymentId"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "Optional internal reference for this operation."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reverse result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/resume": {
            "post": {
                "operationId": "resumePayment",
                "summary": "Continue after 3DS challenge",
                "tags": [
                    "Payments"
                ],
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "sessionId"
                                ],
                                "properties": {
                                    "sessionId": {
                                        "type": "string",
                                        "description": "The `sessionId` from a `pending_3ds` / `pending_action` payment response."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Resumed payment result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/payment/inquiry/{id}": {
            "get": {
                "operationId": "inquiryPayment",
                "summary": "Retrieve payment status",
                "tags": [
                    "Payments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sdk/session": {
            "post": {
                "operationId": "createSdkSession",
                "summary": "Create a short-lived SDK token",
                "tags": [
                    "SDK"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SDK session token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "sessionToken": {
                                            "type": "string"
                                        },
                                        "expiresAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/token": {
            "post": {
                "operationId": "storeTokens",
                "summary": "Store card tokens for future payments",
                "tags": [
                    "Tokens"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "shopper",
                                    "cards"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "cards": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/CardData"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tokens created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "tokens": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "expirationDate": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/plan": {
            "post": {
                "operationId": "createPlan",
                "summary": "Create a subscription plan",
                "tags": [
                    "Plans"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "name",
                                    "amount",
                                    "interval"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Human-readable plan name."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Optional plan description."
                                    },
                                    "amount": {
                                        "$ref": "#/components/schemas/Amount"
                                    },
                                    "interval": {
                                        "type": "string",
                                        "enum": [
                                            "day",
                                            "week",
                                            "month",
                                            "year"
                                        ],
                                        "description": "Billing interval unit: `day`, `week`, `month`, or `year`. Immutable after creation."
                                    },
                                    "intervalCount": {
                                        "type": "integer",
                                        "description": "Number of `interval` units between charges."
                                    },
                                    "trialDays": {
                                        "type": "integer",
                                        "description": "Free-trial length in days before the first charge."
                                    },
                                    "countries": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "ISO 3166-1 alpha-2 codes this plan is offered in. Empty = everywhere."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Plan created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "listPlans",
                "summary": "List all subscription plans",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "ISO 3166-1 alpha-2 code to filter plans by availability; global plans are always included."
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Whether the plan accepts new subscribers."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of plans",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Plan"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/plan/{id}": {
            "patch": {
                "operationId": "updatePlan",
                "summary": "Update a subscription plan",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Human-readable plan name."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Optional plan description."
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "description": "Whether the plan accepts new subscribers."
                                    },
                                    "countries": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "ISO 3166-1 alpha-2 codes this plan is offered in. Empty = everywhere."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated plan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "archivePlan",
                "summary": "Archive a subscription plan",
                "tags": [
                    "Plans"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Plan archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription": {
            "post": {
                "operationId": "createSubscription",
                "summary": "Create and activate a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "planId",
                                    "shopper",
                                    "card"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant; required if the key maps to more than one merchant account."
                                    },
                                    "planId": {
                                        "type": "string",
                                        "description": "ID of an active billing plan. Determines amount, currency, interval and trial."
                                    },
                                    "shopper": {
                                        "$ref": "#/components/schemas/Shopper"
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/SubscriptionCard"
                                    },
                                    "firstPaymentId": {
                                        "type": "string",
                                        "description": "Record mode only, and only when a first payment is due (ignored for trial / deferred subscriptions). The payment `id` returned by the /payment/authorization or /payment/purchase call in which you ran the CIT for this card. Therius validates that it is a captured/authorized payment on your account that charged the same vaulted token and is in the plan's currency, then marks cycle 1's invoice paid and links it — no gateway call. When omitted, Therius charges cycle 1 as an MIT against the recorded mandate."
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Arbitrary string key/value pairs, echoed back in webhook payloads."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subscription created. Record mode adds a `firstCycle` object describing how cycle 1 was handled (`linked` or `mit`).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "listSubscriptions",
                "summary": "List and filter subscriptions",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by status."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Partial, case-insensitive match on customer email."
                    },
                    {
                        "name": "planId",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID of an active billing plan. Determines amount, currency, interval and trial."
                    },
                    {
                        "name": "cardBrand",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by card brand, e.g. `visa`, `mastercard`, `amex`."
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "ISO 8601 lower bound (inclusive) on creation date."
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "description": "ISO 8601 upper bound (inclusive) on creation date."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page size. Default 20, max 200."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Opaque pagination cursor from a previous response's `nextCursor`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Subscription"
                                            }
                                        },
                                        "nextCursor": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}": {
            "get": {
                "operationId": "getSubscription",
                "summary": "Retrieve subscription details",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/cancel": {
            "post": {
                "operationId": "cancelSubscription",
                "summary": "Cancel a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cancellation confirmed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/change-plan": {
            "post": {
                "operationId": "changeSubscriptionPlan",
                "summary": "Upgrade or downgrade a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "planId"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    },
                                    "planId": {
                                        "type": "string",
                                        "description": "ID of an active billing plan. Determines amount, currency, interval and trial."
                                    },
                                    "prorate": {
                                        "type": "boolean",
                                        "description": "Whether to credit the unused portion of the current period against the new plan."
                                    },
                                    "effective": {
                                        "type": "string",
                                        "enum": [
                                            "immediate",
                                            "next_cycle"
                                        ],
                                        "description": "When the change takes effect — `now` or `period_end`."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Plan changed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/pause": {
            "post": {
                "operationId": "pauseSubscription",
                "summary": "Pause a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription paused",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/resume": {
            "post": {
                "operationId": "resumeSubscription",
                "summary": "Resume a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription resumed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/payment-method": {
            "post": {
                "operationId": "updateSubscriptionPaymentMethod",
                "summary": "Update the card on a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantCode",
                                    "card"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant."
                                    },
                                    "card": {
                                        "$ref": "#/components/schemas/SubscriptionCardUpdate"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment method updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/{id}/invoice": {
            "get": {
                "operationId": "listSubscriptionInvoices",
                "summary": "List invoices for a subscription",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by status."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Page size. Default 20, max 200."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Opaque pagination cursor from a previous response's `nextCursor`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of invoices",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Invoice"
                                            }
                                        },
                                        "nextCursor": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/invoice/{id}": {
            "get": {
                "operationId": "getInvoice",
                "summary": "Retrieve a single invoice",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantCode",
                        "in": "query",
                        "required": true,
                        "description": "Your merchant account identifier. Validated against the Bearer key's merchant.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscription/usage": {
            "post": {
                "operationId": "recordSubscriptionUsage",
                "summary": "Record a metered usage event",
                "description": "Report a usage event against a subscription for a meter defined on its plan. At each renewal Therius aggregates the period's events per the meter's aggregation mode, prices them, and adds the result to the invoice. Meters and their per-plan pricing are configured in the Dashboard (Subscriptions → Usage Meters); this endpoint only ingests the raw events.",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "description": "Optional. A replay with the same `(meterCode, Idempotency-Key)` pair returns the original event instead of recording a second one. Use it when your reporting job may retry.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "subscriptionId",
                                    "meterCode",
                                    "quantity"
                                ],
                                "properties": {
                                    "merchantCode": {
                                        "type": "string",
                                        "description": "Your merchant account identifier."
                                    },
                                    "subscriptionId": {
                                        "type": "string",
                                        "description": "UUID of the subscription the usage is attributed to."
                                    },
                                    "meterCode": {
                                        "type": "string",
                                        "description": "The `code` of a usage meter belonging to your merchant account, e.g. `api_requests`.",
                                        "example": "api_requests"
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "description": "Non-negative quantity for this event, in the meter's units.",
                                        "example": 500
                                    },
                                    "occurredAt": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Optional RFC 3339 timestamp of when the usage occurred. Defaults to the time the request is received. Determines which billing period the event falls into."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Event recorded, or the original event on an idempotent replay.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
[...]
